
// Palette de couleur
$gris: #ebebeb;
$blanc: #ffffff;
$yellow: #f6c951;
$gris-fonce: #cacdd0;


// Border Radius
$radius-img: 5px;

.container {
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.content {
  padding-top: 100px;
}

// Card StyleSheet
.card-product {

  width: 325px;
  height: fit-content;
  padding: 15px;
  position: relative;

  a {
    text-decoration: none;
    color: black;
  }
  
  &__img {
    
    img {
      border-radius: $radius-img;
      width: 100%;
      height: 325px;
      object-fit: cover;
    }
    
  }
  
  &__info {

    padding: 10px;

    div {
      margin-top: 5px;
    }
    
    &__marque {
      font-weight: thin;
      font-size: 15px;
      color: $yellow;
    }

    &__lieu {
      font-weight: thin;
      font-size: 12px;
      color: #707072;
    }
    
    &__categorie {
      @extend .card-product__info__lieu;
      margin-top: 10px !important;
    }

    &__date {
      @extend .card-product__info__lieu;
    }

    &__modele {
      font-weight: bolder;
      font-size: 20px;
    }

    &__prix {
      font-weight: 600;
      margin-top: 8px !important;
    }

  }

  &__button {
    float: right;
    right: 0;
    bottom: 100px;
  }

}

// Sidebar StyleSheet
.sidebar {
  width: 16.5%;
  position: fixed;
  height: 100%;
  border-right: 2px solid #e5e5e5;
  left: 0;
  z-index: 3;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  // align-items: center;

  &-title {
    padding-left: 1.5rem;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
    display: grid;
    align-items: start;
    grid-template-columns:  1fr  1fr;
    gap: 4rem;
  }
  
  &-items {
    margin-top: 20px;
  }
  
  &-label-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  &-label-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  &-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
  }

  &-label-container:hover input ~ &-checkmark {
    background-color: #ccc;
  }
  
  &-label-container input:checked ~ &-checkmark {
    background-color: #2196f3;
  }

  &-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  &-label-container input:checked ~ &-checkmark:after {
    display: block;
  }
  
  &-label-container &-checkmark:after {
    top: 6.4px;
    left: 6.4px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
  }

  &-accordion-content {
    max-height:  0;
    overflow: hidden;
    transition: max-height  0.2s ease-out;
    padding-left: 2rem;
  }
  
  &-accordion-content.expanded {
    max-height:  500px;
    padding-left: 2rem;
  }

  &-chevron-icon {
    // margin-left:  2rem;
    cursor: pointer;
  }

  &-intervalle-values{
    padding: 0.5rem 0rem;
  }

  &-intervalle-slider{
    width: 80%;
    height: 10px;
    background-color: $gris;
    margin-bottom: 0.8rem;
  }

  &-intervalle-slider .thumb{
    width: 10px;
    height: 10px;
    cursor: grab;
    background: $gris;
    border-radius: 50%;
    border:2px solid $yellow;
  }
  
}

// Annonce StyleSheet
.annonce {
  margin-left: 18%;

  &__title {
    text-align: center;
  }

  &__line {
    margin: 20px;
    border: 0.5px solid $gris;
    border-radius: 20px;
  }

  &__annonce-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
  }

}


// Header StyleSheet
.header {
  overflow: hidden;
  height: 100px;
  background-color: white;
  position: relative;
  padding: 5px;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 100;
  
  .action {
    position: fixed;
    top: 22px;
    right: 100px;
    
    span {
      cursor: pointer;
    }
    
  }
  
  .action .profile {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }
  
  .action .profile img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .action .menu {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.067);
    position: absolute;
    top: 120px;
    right: -10px;
    padding: 10px 20px;
    background: #fff;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
  }
  
  .action .menu.active {
    top: 80px;
    visibility: visible;
    opacity: 1;
  }
  
  .action .menu::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
  }
  
  .action .menu h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    color: #555;
    line-height: 1.5em;
  }
  
  .action .menu h3 span {
    font-size: 14px;
    color: #cecece;
    font-weight: 300;
  }
  
  .action .menu ul li {
    list-style: none;
    padding: 16px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
  }
  
  .action .menu ul li img {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
  }
  
  .action .menu ul li:hover img {
    opacity: 1;
  }
  
  .action .menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
  }
  
  .action .menu ul li:hover a {
    color: $yellow;
  }
  


  &__link {
    position: absolute;
    top: 30%;
    margin-left: 70px;

    a {
      float: left;
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 14px;
    }
  }

  &__logo {
    
    img {
      width: 180px;
      position: absolute;
      right: 45%;
    }

  }

  &__profile {
    position: absolute;
    display: flex;
    right: 70px;
    top: 20%;

    span {
      font-size: 25px;
      margin-left: 45px;
      margin-top: 20px;
    }

    a { 
      color: black;
      text-decoration: none;
    }
    
    .search {
      margin-left: 10px;
      margin-top: 15px;
    }
    
    &__name {
      margin-top: 25px;
    }

    &__search {
      margin-top: 10px;
      margin-right: 90px;

      .input__value {
        width: 200px;
        background-color: $gris;
        margin-bottom: 5px;
        padding:10px;
        outline: none;
      }
      
      .input__value:focus {
        outline: none;
      }

      .input__value:hover {
        outline: none;
      }

      form {
        background-color: $gris;
        display: inline-flex;
        border-radius: 15px;
      }

    }

  }

}

.fiche {

  display: flex;
  padding: 50px;

  &__img {
    img {
      position: sticky;
      top: 50px;
    }
  }

  &__info {
    margin-left: 100px;

    span {
      font-size: 35px;
      float: right;
    }

    &__modele {
      @extend .card-product__info__modele;
      font-size: 30px !important;

    }

    &__marque {
      @extend .card-product__info__marque;
      font-size: 20px !important;
    }

    &__categorie {
      @extend .card-product__info__categorie;
      margin-top: 5px !important;
    }

    &__date {
      @extend .card-product__info__lieu;
      margin-top: 5px !important;
    }

    &__value {
      margin-top: 10px;
      display: flex;
      
      &__prix {
        @extend .card-product__info__prix;
        font-size: 15px !important;
        border: 1px solid black;
        border-radius: 50px;
        width: fit-content;
        padding: 10px;
        margin-right: 10px;
      }

    }

    &__description {
      margin-top: 30px;
    }

    &__detail {

      margin-top: 30px;

      .accordion {
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 0.5px solid black;
        span {
          font-size: 20px;
          cursor: pointer;
        }
      }

      .table {
        transition: 0.5s;
      }

      table {
        font-size: 13px;
        margin-top: 20px;
        border-collapse: collapse;
        width: 100%;
        
        td {
          padding: 15px;
        }
      }

      tr:nth-child(odd) {
        background-color: #f2f2f2;
      }

    }

    &__button {
      margin-top: 20px;
    }


  }

  img {
    width: 535px;
    height: 668px;
    object-fit: cover;
    border-radius: 10px;
  }


}

.row {
  display: flex;

  .bulle-message {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.044);
    width: 200px;
    border-radius: 10px;
    padding: 15px;
    background-color: white;
    
    &__body {
      font-size: 14px;
      margin-bottom: 20px;
    }
    
    &__date {
      font-size: 10px;
      float: right;
      right: 0;
    }
    
  }
}

.notification {
  display: flex;
  background-color: white;
  width: 300px;
  padding: 20px;
  justify-content: space-between;
  border-radius: 10px;

  &__number {

    span {
      background-color: $yellow;
      color: white;
      font-size: 13px;
      padding: 5px 10px;
      border-radius: 50%;
      float: right;
    }

    p {
      font-size: 10px;
      margin-bottom: 5px;
    }

  }

  &__user {
    font-size: 15px;
  }

}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: gray; 
  border-radius: 10px;
  height: 8px;
}

.conversation {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 20px;
  
  & > div {
    background-color: $gris;
    padding: 20px;
    border-radius: 10px;
    height: 600px;
  }
  &__list {
    
    &__users {

      overflow-y: scroll;
      height: 550px;
      
      & > div {
        margin-top: 10px;
        width: 350px;
      }

    }

    &__title {
      font-size: 20px;
      font-weight: bold;
      padding-bottom: 20px;
    }
    
    
  }
  
  &__message {
    margin-left: 5px;
    width: 400px;
    position: relative;

    &__user {
      padding-bottom: 20px;
      font-size: 20px;
      font-weight: bold;
    }
    
    &__bubble {
      height: 100%;
      overflow-y: scroll;
      height: 500px;
      padding-left: 20px;
      padding-right: 20px;
      // margin-bottom: 50px;

      & > div {
        margin-top: 10px;
      }

    }

    &__input {
      

      input {
        width: 370px;
      }
    }
  }
}